@using Youtube.ViewModels
@using Youtube.Models
@model AddVideoDTO

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Add video</title>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC1_dW9uDxHWZeA6K9kjI4WeizbpzqsThWph3NGqxlpTG4yE1SbQ">
    <script src="~/JavaScript/AddVideoPage.js"></script>
    <link href="~/Css/AddVideoPage.css" rel="stylesheet" />
</head>
    <body>
        <div class="container-fluid">
            <img src="~/uploads/addVideo.png" id="image" class="avatar">
            <form method="post" enctype="multipart/form-data" id="form">
                <div>
                    <label asp-for="VideoUrl"></label><br />
                    <input asp-for="VideoUrl" /><br />
                    <span asp-validation-for="VideoUrl"></span>
                </div>
                <div>
                    <label asp-for="Name"></label><br />
                    <input asp-for="Name" /><br />
                    <span asp-validation-for="Name"></span>
                </div>
                <div>
                    <label asp-for="Description"></label><br />
                    <input asp-for="Description" /><br />
                    <span asp-validation-for="Description"></span>
                </div>
                <div>
                    <label asp-for="Visibility"></label>
                    <select asp-for="Visibility"
                            asp-items="@Html.GetEnumSelectList<Visibility>()"></select>
                    <span asp-validation-for="Visibility"></span>
                </div>
                <div>
                    <label asp-for="AllowComments"></label><br />
                    <input type="checkbox" asp-for="AllowComments" /><br />
                    <span asp-validation-for="AllowComments"></span>
                </div>
                <div>
                    <label asp-for="AllowRaiting"></label><br />
                    <input type="checkbox" asp-for="AllowRaiting" /><br />
                    <span asp-validation-for="AllowRaiting"></span>
                </div>
                <div>
                    <label asp-for="Image"></label><br />
                    <input type="file" accept="image/*" asp-for="Image" /><br />
                </div>
                <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
            </form>
            <button onclick="history.back()" class="btn btn-danger" id="btnBack">Back</button>
        </div>
        <script src="~/node_modules/jquery/dist/jquery.js"></script>
        <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    </body>
</html>
