<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Admin page</title>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC1_dW9uDxHWZeA6K9kjI4WeizbpzqsThWph3NGqxlpTG4yE1SbQ">
    <script src="~/JavaScript/AdminPage.js"></script>
    <link href="~/Css/AdminPage.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-inverse" id="navBar">
            <div class="container-fluid" id="containerNavbar">
                <div class="navbar-header">
                    <a href="http://localhost:55157/Youtube/Home" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> Youtube</a>
                </div>
                <ul class="nav navbar-nav navbar-right" id="navbarLogin"></ul>
            </div>
        </nav>
    </div>

    <div class="container-fluid">
        <div class="row" id="searchOptionsDiv">
            <div class="col-lg-3">
                <div class="search">
                    <h3>Sort by</h3>
                    <input type="radio" name="orderBy" value="Username" id="orderBy" checked><a>Username</a><br />
                    <input type="radio" name="orderBy" value="Firstname" id="orderBy"><a>First name</a><br />
                    <input type="radio" name="orderBy" value="Lastname" id="orderBy"><a>Last name</a><br />
                    <input type="radio" name="orderBy" value="Email" id="orderBy"><a>Email</a><br />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="search">
                    <h3>Order by</h3>
                    <input type="radio" name="ascDesc" value="asc"><a>Sort asc</a><br />
                    <input type="radio" name="ascDesc" value="desc" checked><a>Sort desc</a><br />
                </div>
            </div>
            <div class="col-lg-6" style="margin-top:2em;">
                <div class="input-group">
                    <input type="text" name="searchInput" id="searchInput" placeholder="Search" class="form-control">
                    <div class="input-group-btn">
                        <a onclick="searchUsers()"><img id="search" src="~/uploads/search.png"></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <h2>All users</h2>
    <div class="container-fluid">
        <div class="row" id="userDiv">
        </div>
    </div>

    <footer>
        <p>
            Copyright &#169 2018 Luka Bulatovic
        </p>
    </footer>
</body>
</html>