@using Youtube.ViewModels
@using Youtube.Models
@model AddVideoDTO

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Add video</title>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC1_dW9uDxHWZeA6K9kjI4WeizbpzqsThWph3NGqxlpTG4yE1SbQ">

    <script>
            $(document).ready(function (e) {
                $.get('http://localhost:55157/Youtube/loggedInUser', function (data) {
                    if (data == null) {
                        alert("You can't access this page")
                        history.back();
                    }
                    else if (data.blocked == true) {
                        alert("You can't access this page")
                        history.back();
                    }
                });
        });

        function cancel(id) {
            window.history.back()
        }
    </script>
</head>
<body style="background-image:url(http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg);
                     margin: 0;
                     padding: 0;
                     background-size: inherit;
                     background-position: center;
                     font-family: sans-serif;">
    <div class="container-fluid" style="margin-top:3em; text-align:center; color:white;">
        <img src="~/uploads/addVideo.png" style="width:180px; height:180px;" class="avatar">
        <form method="post" enctype="multipart/form-data">
            <div style="margin-top:1em;">
                <label asp-for="VideoUrl"></label><br />
                <input asp-for="VideoUrl" /><br />
                <span asp-validation-for="VideoUrl" style="color:red;"></span>
            </div>
            <div style="margin-top:1em;">
                <label asp-for="Name"></label><br />
                <input asp-for="Name" /><br />
                <span asp-validation-for="Name" style="color:red;"></span>
            </div>
            <div style="margin-top:1em;">
                <label asp-for="Description"></label><br />
                <input asp-for="Description" /><br />
                <span asp-validation-for="Description" style="color:red;"></span>
            </div>
            <div style="margin-top:1em;">
                <label asp-for="Visibility"></label>
                <select asp-for="Visibility"
                        asp-items="@Html.GetEnumSelectList<Visibility>()"></select>
                <span asp-validation-for="Visibility" style="color:red;"></span>
            </div>
            <div style="margin-top:1em;">
                <label asp-for="AllowComments"></label><br />
                <input type="checkbox" asp-for="AllowComments" /><br />
                <span asp-validation-for="AllowComments" style="color:red;"></span>
            </div>
            <div style="margin-top:1em;">
                <label asp-for="AllowRaiting"></label><br />
                <input type="checkbox" asp-for="AllowRaiting" /><br />
                <span asp-validation-for="AllowRaiting" style="color:red;"></span>
            </div>
            <div style="margin-top:1em;">
                <h4>Old image</h4>
                <img src="~/uploads/@Model.PhotoUrl" class="imgVideo" style="width:120px; height:120px;border-radius: 25px;">
            </div>
            <div style="margin-top:1em;">
                <label asp-for="Image"></label><br />
                <input type="file" asp-for="Image" /><br />
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top:1em;margin-bottom:2em;">Save</button>
        </form>
        <button onclick="cancel()" type="button" class="btn btn-danger" style="margin-bottom:2em;">Cancel</button>
    </div>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
</body>
</html>
