@using Youtube.ViewModels
@model EditUserDTO

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Edit @Model.Username</title>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC1_dW9uDxHWZeA6K9kjI4WeizbpzqsThWph3NGqxlpTG4yE1SbQ">
    <link href="~/Css/EditUserPage.css" rel="stylesheet" />
    <script>
        $("form").submit(function (e) {
            e.preventDefault();
        });
        function cancel(id) {
            window.history.back()
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <img src="~/uploads/defaultUserImage.png">
        <form method="post" enctype="multipart/form-data">
            <div>
                <label asp-for="Username"></label><br />
                <input asp-for="Username" /><br />
                <span asp-validation-for="Username"></span>
            </div>
            <div>
                <label asp-for="Password"></label><br />
                <input type="password" asp-for="Password"/><br />
                
            </div>
            <div>
                <label asp-for="FirstName"></label><br />
                <input asp-for="FirstName" /><br />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div>
                <label asp-for="LastName"></label><br />
                <input asp-for="LastName" /><br />
                <span asp-validation-for="LastName"></span>
            </div>
            <div>
                <label asp-for="Email"></label><br />
                <input asp-for="Email" /><br />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Description"></label><br />
                <input asp-for="Description" /><br />
                <span asp-validation-for="Description"></span>
            </div>
            <div>
                <h4>Old image</h4>
                <img src="~/uploads/@Model.PhotoUrl" id="imgUser">
            </div>
            <div>
                <label asp-for="Image"></label><br />
                <input type="file" asp-for="Image" /><br />
            </div>
            <button id="btnSave" type="submit" class="btn btn-primary">Save</button>
        </form>
        <button onclick="cancel()" id="btnCancel" type="button" class="btn btn-danger">Cancel</button>
    </div>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
</body>
</html>