<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Not found</title>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body style="background-image:url(https://drudesk.com/sites/default/files/404-error-page-not-found.jpg);
background-position: center; background-size:cover;">
    <button onclick="home()" class="btn btn-default" style="color:black; width:10em; height:5em; margin-top:2em; margin-left:2em;"><h2>Home</h2></button>
    <script>
        function home() {
            window.location = "http://localhost:55157/Home";

        }
    </script>
</body>
</html>