<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Unauthorized</title>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body style="background-image:url(http://0effortthemes.com/unauthorized-error-page/demo/images/landing/thumb-5.jpg?w=1400);
background-position: center; background-size:inherit;">
    <button onclick="home()" class="btn btn-default" style="color:black; width:10em; height:5em; margin-top:2em; margin-left:2em;"><h2>Home</h2></button>
    <script>
        function home() {
            window.location = "http://localhost:55157/Youtube/Home";

        }
    </script>
</body>
</html>