<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Unsupported Media Type</title>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body style="background-image:url(https://d1qhuz9ahqnrhh.cloudfront.net/wp-content/uploads/2015/10/ux-error-415.png);
background-position: center; background-size:cover;">
    <button onclick="home()" class="btn btn-default" style="color:black; width:10em; height:5em; margin-top:2em; margin-left:2em;"><h2>Home</h2></button>
    <script>
        function home() {
            window.location = "http://localhost:55157/Youtube/Home";

        }
    </script>
</body>
</html>