@using Youtube.ViewModels
@model LoginDTO

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC1_dW9uDxHWZeA6K9kjI4WeizbpzqsThWph3NGqxlpTG4yE1SbQ">
    

    <script>

        function login() {
            var userNameInput = $('#userNameInput');
            var passwordInput = $('#passwordInput');

            var userName = userNameInput.val().trim();
            var password = passwordInput.val().trim();

            if (userName == "" || password == "") {
                alert("All fields must be filled.")
                return;
            }
            console.log(userName);
            console.log(password);
                $.ajax({
                    url: '/login',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        "username": userName,
                        "password": password
                    },
                    success: function (response) {
                        window.location.href = "http://localhost:55157/home";
                    },
                    error: function (response, jqXHR) {
                        alert("Wrong username/password");
                    }
            });
        }
    </script>



</head>
<body style="background-image:url(http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg);
                 margin: 0;
                 padding: 0;
                 background-size: inherit;
                 background-position: center;
                 font-family: sans-serif;">>
    <div class="container-fluid" style="margin-top:3em; text-align:center; color:white;">
        <img src="~/uploads/defaultUserImage.png" style="width:180px; height:180px;" class="avatar">
        <form>
            <div style="margin-top:1em; margin-bottom:1em;">
                <label asp-for="Username"></label><br />
                <input asp-for="Username" id="userNameInput" /><br />
                <span asp-validation-for="Username" style="color:red; font-weight: bold;"></span>
            </div>
            <div style="margin-top:1em; margin-bottom:1em;">
                <label asp-for="Password"></label><br />
                <input type="password" asp-for="Password" id="passwordInput" /><br />
                <span asp-validation-for="Password" style="color:red; font-weight: bold;"></span>
            </div>
            <button type="button" onclick="login()" class="btn btn-primary" style="width:5em; height:2.2em;">Login</button>
        </form>
        <br/><button type="submit" class="btn btn-danger" onclick="history.back()" style="width:5em; height:2.2em;">Cancel</button>
    </div>

    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
</body>
</html>